HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/.gradle
### IntelliJ IDEA ###
.idea
.jar
*.iws
*.iml
*.ipr
*/.idea
.mvn
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
*_debug_bin*

.out
gen
.tmp
tmp
*.log
*.gz
.DS_Store
/out
/docker/data
